h1 {
  text-align: center;
}

div.year-title {
  width: 100%;
}

div.year-title.hidden-year {
  opacity: 0.3;
}

div.year-title.start-no-events {
  opacity: 0.5;
}

div.year-title.end-no-events {
  opacity: 0.5;
}

div.year-title h2 {
  background: #eee;
  color: #111;
  text-align: center;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

div.event {
  width: 100%;
  display: flex;
  flex-direction: row;
}

div.event .left,
div.event .right {
  width: 50%;
  padding: 10px;
}

div.event .left {
  text-align: right;
  border-right: 5px dotted #eee;
}

div.event .event-date {
  background: #111;
  color: #eee;
  width: 50px;
  margin-left: auto;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

div.event .event-date .year {
  font-size: 12px;
}

div.event .event-date .month {
  font-size: 12px;
}

div.event .event-date .day {
  font-size: 30px;
}

div.event .text {
  background: #eee;
  color: #111;
  max-width: 300px;
  margin-right: auto;
  padding: 10px;
  border-radius: 10px;
}

div.event .details {
  margin-top: 10px;
  background: #eee;
  color: #111;
  max-width: 300px;
  margin-right: auto;
  padding: 10px;
  border-radius: 10px;
}

a.more {
  margin-top: 10px;
  display: block;
  font-size: 12px;
  color: #888;
}
